.fullpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: auto;
  background: #e9ebee;
}

#container {
  width: 100%;
  max-width: 550px;
  height: 350px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 14px 28px -10px rgba(0, 0, 0, 0.1),
    0 10px 10px -10px rgba(0, 0, 0, 0.02);
  transform-style: preserve-3d;

  & > div {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.login {
  left: 0;
  background: #fff;
  border-radius: 20px 0 0 20px;
  & button {
    border-radius: 0px;
    width: 100%;
    height: auto;
  }
}

.content {
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;
  & .button {
    display: flex;
    flex-direction: row;
  }
}

.error-msg {
  font-size: 14px;
  color: red;
}
.register {
  right: 0;
  z-index: 1;
  border-radius: 0 20px 20px 0;
  background: #fafafa;
  & button {
    border-radius: 0px;
    width: 100%;
  }
}

.page {
  right: 0;
  color: #fff;
  border-radius: 0 20px 20px 0;
  transform-origin: left center;
  transition: animation 1s linear;

  & button {
    border-color: #fff;
    background: transparent;
  }

  p {
    margin: 2em auto;
  }
}

.b-icon {
  width: 75px;
  height: 75px;
}

form input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 1.4em;
}
span {
  color: #333;
  font-size: 1.1em;
  display: inline-block;
  font-weight: 100;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1em auto;
  border-radius: 20px;
  border: 1px solid #526d82;
  background: #526d82;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  padding: 0.8em 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;

  & .s-icon {
    margin: 3px;
  }
}
button:hover {
  cursor: pointer;
}
button:active {
  transform: scale(0.95);
}
button:focus {
  outline: none;
}

.front {
  background: linear-gradient(-45deg, #9db2bf 0%, #526d82 100%) no-repeat 0 0 /
    200%;
  z-index: 3;
}
.back {
  background: linear-gradient(135deg, #526d82 0%, #9db2bf 100%) no-repeat 0 0 /
    200%;
  z-index: 2;

  .content {
    transform: rotateY(180deg);
  }
}

.active .front {
  animation: rot-front 0.6s ease-in-out normal forwards;
}
.active .back {
  animation: rot-back 0.6s ease-in-out normal forwards;
}

.close .front {
  animation: close-rot-front 0.6s ease-in-out normal forwards;
}
.close .back {
  animation: close-rot-back 0.6s ease-in-out normal forwards;
}

@keyframes rot-front {
  from {
    transform: translateZ(2px) rotateY(0deg);
  }
  to {
    transform: translateZ(1px) rotateY(-180deg);
  }
}

@keyframes close-rot-front {
  from {
    transform: translateZ(1px) rotateY(-180deg);
  }
  to {
    transform: translateZ(2px) rotateY(0deg);
  }
}
@keyframes rot-back {
  from {
    transform: translateZ(1px) rotateY(0deg);
  }
  to {
    transform: translateZ(2px) rotateY(-180deg);
  }
}
@keyframes close-rot-back {
  from {
    transform: translateZ(2px) rotateY(-180deg);
  }
  to {
    transform: translateZ(1px) rotateY(0deg);
  }
}

.active .register .content {
  animation: show 0.7s ease-in-out normal forwards;
}
.close .register .content {
  animation: hide 0.7s ease-in-out normal forwards;
}
.active .login .content {
  animation: hide 0.7s ease-in-out normal forwards;
}
.close .login .content {
  animation: show 0.7s ease-in-out normal forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 0.99;
    transform: scale(0.99);
  }
}
@keyframes hide {
  from {
    opacity: 0.99;
    transform: scale(0.99);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
.input-tooltip {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.input-tooltip.show {
  display: block;
}
